<!DOCTYPE html>
<html>
<head>
	<title>CRUD Elastic Search</title>
</head>
<body>

	<h1><b>C</b>reate</h1>
	<hr>
	<button onclick="createIndex();">Create Index</button>
	<button onclick="createDocument();">Create Document</button>
	<br><br>

	<h1><b>R</b>ead</h1>
	<hr>
	<button onclick="readDocument();">Read Document</button>
	<button onclick="searchByText();">Search Data By Text</button>

	<h1><b>U</b>pdate</h1>
	<hr>
	<button onclick="updateDocument();">Update Document</button>

	<h1><b>D</b>elete</h1>
	<hr>
	<button onclick="deleteIndex();">Delete Index</button>
	<button onclick="deleteDocument();">Delete Document</button>


	<script type="text/javascript" src="js/ind.js"></script>
	<script type="text/javascript" src="js/document.js"></script>
</body>
</html>